* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
}

:root {
    --blue-claro: #92d2ee;
    --beige: rgb(255, 236, 219);
    --orange: rgb(255, 145, 73);
    --amarillo: #f9d85e;
    --rojo-sangre: #db5d4f;
    --blanco: #ffffff;
    --negro: #000000;
  }
  